div.menu {
	position: relative;
	width:960px;
	height:640px;
	margin:auto;
	background-image:url('images/bgmenu.png');
}

.menuButton {
	border-radius: 0;
	background: none;
	border: 2px solid white;
	color: white;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 300px;
	position:absolute;
	bottom:0;
}

#menuInfos {
	left:320px;
}

#endScreen {
	width: 960px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 235px;
	text-align:center;
	color:white;
	font-weight:bold;
	display:none;
}

#progress {
	width: 960px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 235px;
	display:none;	
}

#DialBox {
    background-color: #FFFFFF;
    height: 80px;
    left: 50%;
    margin: 0 auto 0 -480px;
    outline: 0 none;
    position: absolute;
    top: 570px;
    width: 960px;
    z-index: 2;
    display:none;
}
#DialNext {
	float:right;
	margin-top:20px;
	margin-right:10px;
}

#DialText {
	display:block;
	float:left;
	padding:10px;
}

#DialNext {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fffcff), color-stop(1, #474147) );
	background:-moz-linear-gradient( center top, #fffcff 5%, #474147 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcff', endColorstr='#474147');
	background-color:#fffcff;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#b31717;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cf2130;
}
#DialNext:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #474147), color-stop(1, #fffcff) );
	background:-moz-linear-gradient( center top, #474147 5%, #fffcff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#474147', endColorstr='#fffcff');
	background-color:#474147;
}
#DialNext:active {
	position:relative;
	top:1px;
}
#DialImage {
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}